*{
   background-color: grey;
}
body{
    width: 100wh;
    /* overflow-y: hidden; */
}
.oneline{
   
    /* border: red 3px solid; */
   display: flex;
   justify-content: space-between;
   width: 100%;
}
h1{
    font-size:medium;
   text-align: center;
   color: white;
}
.oneline div{
    display: flex;
    margin:auto 0;
    font-size: 20px;
    text-align: center;
    
}
.left{
    padding:0;
    vertical-align: middle;
    /* width: 10%; */
}
.right{
    width: 50%; 
    /* padding: 0 10px; */
    vertical-align: middle;
    overflow-x: none;
    overflow-y: hidden;
    overflow-y: auto;
}
.oneline button{
    color: blue;
    margin-right: 13px;
 font-size: medium;
 padding: 0 5px;  
    border: blue 1px solid;
    border-radius: 30px;
    cursor: pointer;
  
}
#range{
    cursor: pointer;
    
}
footer{
   position: fixed;
   left: 0;
   bottom: 0;
    text-align: center;
   font-size: 1.5rem;
   color: red;
background-color: violet;
    
}
.area{
    background-color: purple;
    display: flex;
    transform: rotate(180deg) scaleX(-1);
    width: 100%;
}
.area div{
    margin:0px auto;
}
